@-webkit-keyframes MMM-NFLweather-pulse {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.MMM-NFLweather .span {
    border-spacing: 10px 0px;
    border-collapse: separate;
    text-align: center;
    font-size: 10px;
}

.MMM-NFLweather .div {
    vertical-align: middle;
    font-size: 10px;
}
.MMM-NFLweather .blink {
    -webkit-animation: MMM-NFLweather-pulse 2s infinite;
}
.MMM-NFLweather .forecast {
    color: #fff;
}
.MMM-NFLweather .stadium {
    color: #FFBB33;
}
.MMM-NFLweather .gametemp {
    color: #10B1C8;
}
